/*.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    *//* Remove default selection bar color *//*
    -fx-selection-bar: #000;
    -fx-selection-bar-non-focused: #000;
}
.list-cell:selected, .list-cell:focused, .list-cell:selected:focused {
    -fx-background-color: #000 !important;
    -fx-text-fill: #fff !important;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}*/

/*
.list-cell:selected {
    -fx-background-color: #000;
    -fx-text-fill: #fff;
}*/
.list-view {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 1;
    -fx-padding: 0.0em; /* 0 */
    -fx-background-insets: 0;
    -fx-control-inner-background: white;
}

.list-cell:odd {
    -fx-background-color: #F9F9F9;
    -fx-text-fill: black;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em;
}
.list-cell:even {
    -fx-background-color: white;
      -fx-text-fill: black;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em;
}

/*.list-view .list-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-text-fill: -fx-text-inner-color;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em;
}*/

.list-view .list-cell:filled:selected,
.list-view .list-cell:filled:selected:focused {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #E8E8E8;
}

.list-view:focused {
    -fx-focus-color: #EE4B2B;
}
